name: CI-Build-Documentation

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup-java
        uses: actions/setup-java@v1.3.0
        with:
          java-version: 1.8
      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew runAnk
